:root {
    --c-color-background: #FFFFFF;

    --c-color-accent-A: #FC2A2A;
    --c-color-accent-B: #11AF00;
    --c-color-accent-C: #4564FF;
    --c-color-accent-D: #FCA42A;

    --c-color-accent-A-contrast: #FFFFFF;
    --c-color-accent-B-contrast: #FFFFFF;
    --c-color-accent-C-contrast: #FFFFFF;
    --c-color-accent-D-contrast: #1b1b1b;

    --c-color-main-primary: #575757;
    --c-color-main-secondary: #8D8D8D;

    --c-border-general: dotted 1.2pt var(--c-color-main-secondary);

    --c-font-primary: Inter, system-ui, sans-serif;
}